<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <title>90's Hip-Hop</title>
        <meta charset="UTF-8">
        <link href = "/node/css/acasa.css" type = "text/css" rel = "stylesheet">
    </head>
    <body>
        <div class = grid-container>
            <div class = "logo">
                <img src = "Poze/icon2.png" alt = "Logo">
            </div>
            <div class = "nav">
                <ul class = "menu">
                    <li class = "home">
                        <a href = "acasa.html">Home</a>
                        <div></div>
                    </li>
                    <li class = "top20">
                        <a href = "mytop.html" class = "more">My top 20 albums</a>
                        <div class = "underline"></div>
                        <ul class = "submenu">
                            <li><a href = "mytop.html">20→11</a></li>
                            <li><a href = "top10.html">10→1</a></li>
                        </ul>
                    </li>
                    <li class = "about">
                        <a href = "about.html">About</a>
                        <div class = "underline"></div>
                    </li>
                    <li class = "galery">
                        <a href = "galery.html">Galery</a>
                        <div class = "underline"></div>
                    </li>
                    <li class = "joc">
                        <a href = "joc.html">Joc</a>
                        <div class = "underline"></div>
                    </li>
                </ul>
            </div>
            <div class = "quote">
                <section class = "text-container">
                    <p class = "lyrics">Yo, where I'm from it ain't cookies and cream
                        There's a lot of peer pressure growin' up as a young teen
                        You never know when you gonna get wet
                        'Cause mad clowns be catchin' wreck with a Tec just to get a rep
                        Instead of cool friends, they'd rather hang with male thugs
                        Instead of goin' to school, they'd rather sell drugs
                        It's best to go the right route and not the wrong one
                        Because it's gonna catch up with you in the long run 
                        ~Big L MVP</p>
                    <audio controls class = "street-struck">
                        <source src = "/node/Audio/StreetStruck.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </section>
            </div>
            <div class = "photos">
                <img src = "/node/Poze/bigL2.jpeg" alt = "bigL" class = "photo1">
                <img src = "/node/Poze/bigL3.jpg" alt = "bigL" class = "photo2">
            </div>
            <%- include('credits') %>
        </div>
            
    </body>

</html>